.main_container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    background-color: #E5E5E5;
}

.players {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    max-width: 500px;
    min-height: 224px;
    padding: 24px;
    gap: 24px;
    left: 64px;
    top: 136px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

.players_name {
    font-weight: 700;
    font-size: 24px;
}

.player {
    display: flex;
    align-items: start;
    gap: 12px;
    margin-top: 20px;
}

.figure {
    width: 24px;
    height: 24px;
}

.player_name {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
}

.win_percent {
    color: #898993;
    font-weight: 400;
    font-size: 14px;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.score {
    width: 139px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-top: 124px;
    background: #EDEDED;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
}

.move {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.player_move {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.move_now {
    width: 400px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 12px;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
}

.chat {
    width: 412px;
    min-height: 384px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    top: 463px;
    right: 40px;
}

.message_1 {
    width: 352px;
    min-height: 76px;
    padding: 12px;
    margin: 6px;
    align-self: start;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 16px 0px;
}

.message_2 {
    width: 352px;
    min-height: 76px;
    padding: 12px;
    margin: 6px;
    align-self: end;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 0px 16px;
}

.message_player {
    display: flex;
    justify-content: space-between;
}

.message_text {
    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.time {
    color: #898993;
    font-weight: 400;
    font-size: 14px;
}

.color_green {
    color: rgba(96, 194, 170, 1);
}

.color_pink {
    color: rgba(227, 139, 172, 1);
}

.field {
    max-width: 663px;
    max-height: 663px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.field-item {
    width: 219px;
    height: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 12px;
}

.name {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}

.send_message {
    display: flex;
    gap: 12px;
    margin-top: 14px;
}

.input_message {
    width: 352px;
    height: 48px;
    padding: 12px 20px;
    border: 1px solid #DCDCDF;
    background-color: white;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #B1B1B7;
}

.btn_send_message {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60C2AA;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

@media screen and (max-width: 1550px) {
    

}

@media screen and (max-width: 790px) {



}