.page-rating {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.page-rating__tabel {
    width: 1026px;
    min-height: 100px;
    padding: 32px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.color_green-table {
    color: #69B849;
}

.color_red-table {
    color: #E93E3E;
}

.first-dis-tabel {
    width: 962px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.first-dis-tabel th p {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.FIO-tabel {
    width: 440px;
    height: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.all-game-tabel {
    width: 108px;
    height: 40px;
}

.all-wins-tabel {
    width: 108px;
    height: 40px;
}

.all-losses-tabel {
    width: 108px;
    height: 40px;
}

.percent-wins {
    width: 134px;
    height: 40px;
}

.name-rating-tabel {
    margin-bottom: 24px;    
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.tbody-rating tr td p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.tbody-rating tr {
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.marg-8 {
    margin: 0px 0px 0px 8px;
}

.page-rating__tabel p{
    display: flex;
    align-items: center;
}

